@import "../../styles.scss";

section {
    @include dFlex($jc: flex-start);
    @include contentLimit($height: calc(100vh - $HFHeight - 20px));
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
    .item-search {
        width: 100%;
        h3 {
            margin: 0;
        }
        .search-input {
            @include dFlex($jc: space-between);
            input {
                width: calc(60% - 12px);
                padding: 6px;
            }
            button {
                @include dFlex();
                width: 50px;
                height: 32px;
                img {
                    width: 20px;
                }
            }
        }
    }
    .boxes {
        @include dFlex($jc: space-around, $ai: flex-start);
        flex-wrap: wrap;
        overflow: scroll;
        gap: 20px;
        .box {
            @include dFlex();
            width: 140px;
            height: 140px;
            border-radius: 10px;
            padding: 0;
        }
        .regularBox {
            border: none;
            background: transparent;
            position: relative;
            img {
                width: 100%;
            }
            h2 {
                color: black;
                position: absolute;
            }
        }
    }
    .addBox {
        border: 3px dashed $primary-font-color;
        flex-direction: column;
        textarea {
            width: 80%;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            color: black;
        }
        .buttons {
            @include dFlex();
            gap: 14px;
            button {
                @include dFlex();
                width: 40px;
                height: 40px;
                margin-top: 10px;
                border-radius: 100%;
                border: 1px solid black;
                img {
                    width: 20px;
                }
            }
        }
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    th, td {
        padding: 4px;
    }
    th {
        text-align: left;
        border-bottom: 2px solid black;
    }
    td {
        border-top: 1px solid black;
        &:nth-child(3) {
            border-left: 1px solid black;
            width: 25%;
        }
    }
}

.invisible {
    visibility: hidden;
}