@import "../../styles.scss";

section {
    @include dFlex($jc: space-around, $ai: flex-start);
    @include contentLimit($height: calc(100vh - $HFHeight * 2 - 20px));
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
    overflow: scroll;
    .box {
        @include dFlex();
        width: 140px;
        height: 140px;
        border-radius: 10px;
        padding: 0;
    }
    .addBox {
        border: 3px dashed $primary-font-color;
        flex-direction: column;
        textarea {
            width: 80%;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            color: black;
        }
        .buttons {
            @include dFlex();
            gap: 14px;
            button {
                @include dFlex();
                width: 40px;
                height: 40px;
                margin-top: 10px;
                border-radius: 100%;
                border: 1px solid black;
                img {
                    width: 20px;
                }
            }
        }
    }
    .regularBox {
        border: none;
        background: transparent;
        position: relative;
        img {
            width: 100%;
        }
        h2 {
            color: black;
            position: absolute;
        }
    }
}