@import "../../styles.scss";

section {
    @include dFlex($jc: flex-start);
    @include contentLimit($height: calc(100vh - $HFHeight * 2));
    flex-direction: column;
    background-color: rgb(244, 247, 248);
    .heading {
        @include dFlex($jc: flex-start);
        width: 100%;
        gap: 10px;
        margin: 16px 0;
        img {
            width: 30px;
        }
        h2 {
            margin: 0;
        }
    }
    table {
        width: 100%;
        border-collapse: collapse;
        th, td {
            padding: 4px;
        }
        th {
            text-align: left;
            border-bottom: 2px solid black;
        }
        td {
            border-top: 1px solid black;
            &:nth-child(2) {
                border-left: 1px solid black;
                width: 25%;
            }
        }
    }

    .newItem {
        @include dFlex();
        gap: 10px;
        width: 100%;
        padding: 4px 0;
        border: 2px dashed $primary-font-color;
        input[name = "itemName"] {
            width: 170px;
        }
        input[name = "itemQuantity"] {
            width: 30px;
        }
        button {
            @include dFlex();
            width: 30px;
            height: 30px;
            border-radius: 100%;
            border: 1px solid black;
        }
        img {
            width: 20px;
        }
    }
    .footerButtons {
        @include dFlex($jc: space-around);
        position: fixed;
        bottom: 0;
        height: $HFHeight;
        width: 100%;
        background-color: rgb(215, 230, 234);
        button {
            padding: 10px;
        }
    }
}

.renameInput {
    @include dFlex();
    gap: 10px;
    input {
        padding: 4px;
    }
    button {
        @include dFlex();
        padding: 0;
        width: 30px;
        height: 30px;
        &:last-child {
            img {
                width: 20px;
            }
        }
    }
}

.deleteBox {
    @include dFlex();
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    .dialog {
        background-color: rgb(215, 230, 234);
        padding: 20px;
        border-radius: 10px;
        max-width: 250px;
        p {
            font-weight: bold;
            margin-top: 0;
        }
        .checkBox {
            @include dFlex();
            gap: 10px;
            margin-bottom: 20px;
            img {
                width: 20px;
            }
        }
        .buttons {
            @include dFlex($jc: space-around);
            > * {
                padding: 10px;
                :disabled {
                    opacity: 50%;
                }
            }
        }
    }
}