<section>
    <div class="heading">
        <img src="/images/box.png" alt="Box Icon">
        @if (isRenamingBox) {
            <div class="renameInput">
                <input type="text" placeholder='New Box Name' [(ngModel)]="newBoxName">
                <button (click)="confirmRenameInput()"><img src="/images/check.png" alt=""></button>
                <button (click)="cancelRenameInput()"><img src="/images/close.png" alt=""></button>
            </div>
        } @else {
            <h2>{{ boxName }}</h2>
        }
    </div>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @for (i of inventory; track $index) {
                <tr>
                    <td>{{ i.item_name }}</td>
                    <td>{{ i.quantity }}</td>
                </tr>
            }
            @if (inventory.length == 0) {
                <tr>
                    <td colspan="2">No items in this box.</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="newItem" (click)="openInput()">
        @if (isInputOpen) {
            <input type="text" name="itemName" id="itemName" placeholder="Item Name" [(ngModel)]="itemName">
            <input type="number" name="itemQuantity" id="itemQuantity" placeholder="Quantity" [(ngModel)]="itemQuantity">
            <button (click)="addItem($event)"><img src="/images/plus.png" alt=""></button>
            <button (click)="closeInput($event)"><img src="/images/bin.png" alt=""></button>
        } @else {
            <img src="/images/plus.png" alt="">
        }
    </div>
    <div class="buttons">
        <button (click)="openRenameInput()">Rename Box</button>
        <button>Delete Box</button>
    </div>
</section>