<section>
    <div class="heading">
        <img src="/images/box.png" alt="Box Icon">
        @if (isRenamingBox) {
            <div class="renameInput">
                <input type="text" placeholder='New Box Name' [(ngModel)]="newBoxName">
                <button (click)="confirmRenameInput()"><img src="/images/check.png" alt=""></button>
                <button (click)="cancelRenameInput()"><img src="/images/close.png" alt=""></button>
            </div>
        } @else {
            <h2>{{ boxName }}</h2>
            @if (!auth.isAdmin()) {
                <button (click)="openRenameInput()"><img src="/images/edit.png" alt="search"></button>
            }
        }
    </div>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @if (inventory.length == 0) {
                <tr>
                    <td colspan="2">No items in this box.</td>
                </tr>
            } @else {
                @for (i of inventory; track $index) {
                    <tr>
                        <td>{{ i.name }}</td>
                        <td>{{ i.quantity }}</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @if (!auth.isAdmin()) {
        <div class="newItem" (click)="openItemInput()">
            @if (isInputOpen) {
                <input type="text" name="itemName" id="itemName" placeholder="Item Name" [(ngModel)]="itemName">
                <input type="number" name="itemQuantity" id="itemQuantity" placeholder="Quantity" [(ngModel)]="itemQuantity">
                <button (click)="addItem($event)"><img src="/images/plus.png" alt=""></button>
                <button (click)="closeItemInput($event)"><img src="/images/bin.png" alt=""></button>
            } @else {
                <img src="/images/plus.png" alt="">
            }
        </div>
    }
    <div class="footerButtons">
        @if (!auth.isAdmin()) {
            <button (click)="openDeleteDialog()">Delete Box</button>
        }
        <button (click)="goToMain()"><img src="/images/back.png" alt=""></button>
    </div>
    @if (isDeletingBox) {
        <div class="deleteBox">
            <div class="dialog">
                <p>Do you want to delete this box and all items inside?</p>
                <div class="checkBox">
                    <img (click)="checkDeleteBox()" [src]="isDeleteBoxChecked ? '/images/checked.png' : '/images/unchecked.png'" alt="">
                    <span>Yes, I confirm to delete this box.</span>
                </div>
                <div class="buttons">
                    <button (click)="confirmDeleteBox()" [disabled]="!isDeleteBoxChecked">Confirm and Delete</button>
                    <button (click)="closeDeleteDialog()">Cancel</button>
                </div>
            </div>
        </div>
    }
</section>